#css-zen-garden {
	margin: 50px;
	background-color: black;
	color: white;
}

.intro h1 {
	font-size: 50px;
	color: red;
	font-weight: 700;
	border: 2px dashed red;
	width: 400px;
	padding: 10px;
	text-align: center;
}

h3 {
	color: blue;
}

a {
	text-decoration: none;
	color: green;
}